$main-color: lightgreen;
$nav-border-style: 3px solid black;
$hover-color: teal;
$main-box-color: papayawhip;
$grid-template-rows: 1fr 1fr 1fr 1fr;
$image-size: 100% 100%;
$button-width: 120px;
$button-height: 30px;
$button-borderRadius: 20px;
$button-margin: 20px; 
